<div id="dt_basic_wrapper" class="dataTables_wrapper form-inline no-footer table-responsive mt20" role="grid">
    <table id="dt_basic" class="table table-striped dataTable">
        <thead>
        <tr>
            <th>ID</th>
            <th>Barcode</th>
            <th>Item Name</th>
            <th>Cost Price</th>
            <th>Unit Price</th>
            <th width="50px">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        {% for i, item in product_items %}
        <tr>
            <td><center>{{ item.item_id }}</center></td>
            <td>{{ item.item_number }}</td>
            <td>{{ item.name }}</td>
            <td style="text-align: right;">{{ item.cost_price | number_format(2, ',', '.') }}</td>
            <td style="text-align: right;">{{ item.unit_price | number_format(2, ',', '.') }}</td>
            <td class="text-center">
                <a href="{{ 'pos/products/update' | link }}/{{ item.item_id }}?outlet={{ model.id }}" title="Ubah Outlet">
                    <i class="fa fa-pencil"></i>
                </a>
                <a href="{{ 'pos/products/delete' | link }}/{{ item.item_id }}?outlet={{ model.id }}" onclick="return hapus(this);">
                    <i class="fa fa-trash-o"></i>
                </a>
            </td>
        </tr>
        {% else %}
        <tr class="no-data">
            <td>No data founds</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% block endbodyjs %}
<script src="{{ 'lib/DataTables/media/js/jquery.dataTables.min.js' | admin_asset_url }}"></script>
<script src="{{ 'lib/DataTables/media/js/dataTables.bootstrap.js' | admin_asset_url }}"></script>
<script type="text/javascript">
    function hapus(data) {
        if (confirm('Anda yakin ingin menghapus item ini ?')) {
            var $this =  $(data);
            var url = $this.attr('href');
            $.ajax({
                'url': url,
                'type':'post',
                'success': function(data) {
                    if (data.status == 'success') {
                        $this.parent().parent().remove();
                    }
                }
            });
        }
        return false;
    }
</script>
{% endblock %}