<form method="post" id="product-form" class="mt20" action="{% if model.item_id %}{{ 'pos/products/update' | link }}/{{ model.item_id }}?outlet={{ outlet.id }}{% else %}{{ 'pos/products/create' | link }}{% endif %}">
    <div class="alert alert-success" style="display: none;"></div>
    <div class="col-md-12 mb10">
        <p>Kolom bertanda <span class="red">*</span> tidak boleh dikosongi</p>
    </div>
    <div class="col-md-6">
        {% if outlets %}
        <div class="form-group hidden" id="outlet-container">
            <label for="reg_select">Outlet <span class="text-danger">*</span></label>
            <select id="reg_select" name="Products[outlet_id]" class="form-control">
                {% for i, outlet in outlets %}
                <option value="{{ outlet.id }}">{{ outlet.title }}</option>
                {% endfor %}
            </select>
        </div>
        {% endif %}
        <div class="form-group">
            <label for="name">Nama Produk <span class="text-danger">*</span></label>
            <input type="text" id="name" name="Products[name]" class="form-control" {% if model.name %}value="{{ model.name }}"{% endif %} required>
        </div>
        <div class="form-group">
            <label for="cost_price">Harga Beli <span class="text-danger">*</span></label>
            <input type="text" id="cost_price" name="Products[cost_price]" class="form-control mask" {% if model.cost_price %}value="{{ model.cost_price | number_format(2, ',', '.') }}"{% endif %}>
        </div>
        <div class="form-group hidden">
            <label for="unit-price">Harga Jual <span class="text-danger">*</span></label>
            <input type="text" id="unit-price" name="Products[unit_price]" class="form-control mask" {% if model.unit_price %}value="{{ model.unit_price | number_format(2, ',', '.') }}"{% endif %}>
        </div>
        {% if prices %}
        {% for pi,price in prices %}
        <div class="form-group">
            <label>{{ pi }}</label>
            <div class="row">
                <div class="col-md-4">
                    {% if model.cost_price > 0 %}
                        {% set percentage = (price - model.cost_price)/model.cost_price*100 %}
                        {% if percentage <= 0 %}
                            {% set percentage = 0.00 %}
                        {% endif %}
                    {% else %}
                        {% set percentage = 0.00 %}
                    {% endif %}
                    <div class="input-group">
                        <input type="text" name="Products[{{ pi }}_percentage]" class="form-control percentage"
                               value="{{ percentage | round(2) }}" aria-describedby="basic-addon2">
                        <span class="input-group-addon" id="basic-addon2">%</span>
                    </div>
                </div>
                <div class="col-md-8">
                    <input type="text" name="Products[{{ pi }}]" class="form-control mask the-price" value="{{ price | number_format(2, ',', '.') }}">
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="barcode">Kode Barcode <span class="text-danger">*</span></label>
            <input type="text" id="barcode" name="Products[item_number]" class="form-control" {% if model.item_number %}value="{{ model.item_number }}"{% endif %} required>
        </div>
        {% if not model.item_id %}
        <div class="form-group">
            <label for="stock">Jumlah Stok <span class="text-danger">*</span></label>
            <input type="text" id="stock" name="Products[quantity]" class="form-control" value="1" required>
        </div>
        {% endif %}
        <div class="form-group">
            <label for="desc">Deskripsi</label>
            <textarea name="Products[description]" id="desc" cols="10" rows="2" class="form-control">{% if model and model.description %}{{ model.description }}{% endif %}</textarea>
        </div>
        {% if model.item_id %}
        <div class="form-group {% if hide_outlet %}hidden{% endif %}">
            <div class="checkbox">
                <label>
                    <input name="Products[update_others]" value="1" type="checkbox" checked>
                    Update juga item ini untuk <b>Outlet</b> yang lainnya.
                </label>
            </div>
        </div>
        {% else %}
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input name="Products[create_others]" value="1" type="checkbox" checked>
                    Simpan item ini untuk semua <b>Outlet</b>.
                </label>
            </div>
        </div>
        {% endif %}
        <input type="hidden" name="Products[item_id]" value="{{ model.item_id }}">
        <div class="form-group">
            <input type="submit" value="Simpan" class="btn btn-info">
        </div>
    </div>
</form>

<script src="{{ 'js/jquery.maskMoney.min.js' | admin_asset_url }}"></script>
<script type="text/javascript">
    $(function () {
        $('#product-form').submit(function (e) {
            e.preventDefault();
            var url = $(this).attr('action');
            $.ajax({
                'url': url,
                'type':'post',
                'data': $('#product-form').serialize(),
                'success': function(data) {
                    if (data.status == 'success') {
                        var alert_success = $('#product-form').find('.alert-success');
                        alert_success.html(data.message);
                        alert_success.show();
                        $('#product-form')[0].reset();
                        setTimeout(function () {
                            alert_success.hide();
                            alert_success.empty();
                            window.location.reload(true);
                        }, 2000);
                    }
                }
            });

            return false;
        });
        $(".mask").maskMoney({prefix:'', allowNegative: false, thousands:'.', decimal:',', affixesStay: false});
        $('.percentage').keyup(function (e) {
            var cost_price = moneyUnformat($('input[id="cost_price"]').val());
            var prc = parseInt(cost_price) + ($(this).val()*1/100)*cost_price;
            var prc_money = prc.format(2, 3, '.', ',');
            $(this).parent().parent().parent().find('.the-price').val(prc_money);
        });
        /**
         * open this method to automaticallt change the HJU, HJD, and HJR
        $('#cost_price').keyup(function () {
            var price = moneyUnformat($('#cost_price').val());
            var price = parseInt(price);
            if (price > 0) {
                var price = price.format(2, 3, '.', ',');
                $('.the-price').val(price);
                $(this).parent().parent().find('.percentage').val(0);
            }
        });
         */
        $('.the-price').keyup(function () {
            var the_price = moneyUnformat($(this).val());
            var percentage = $(this).parent().parent().find('.percentage');
            var cost_price = moneyUnformat($('input[id="cost_price"]').val());
            if (parseInt(cost_price) > 0) {
                var prc = (parseInt(the_price) - parseInt(cost_price)) / parseInt(cost_price) * 100;
                if (prc <= 0) {
                    percentage.val(0);
                } else {
                    percentage.val(prc);
                }
            }
        });
    });
    /**
     * Number.prototype.format(n, x, s, c)
     *
     * @param integer n: length of decimal
     * @param integer x: length of whole part
     * @param mixed   s: sections delimiter
     * @param mixed   c: decimal delimiter
     */
    Number.prototype.format = function(n, x, s, c) {
        var re = '\\d(?=(\\d{' + (x || 3) + '})+' + (n > 0 ? '\\D' : '$') + ')',
            num = this.toFixed(Math.max(0, ~~n));

        return (c ? num.replace('.', c) : num).replace(new RegExp(re, 'g'), '$&' + (s || ','));
    };

    function moneyUnformat(money_string) {
        return money_string
            .replace(/,/g , "__COMMA__") // Replace `,` by some unique string
            .replace(/\./g, '')         // Replace `.` by `,`
            .replace(/__COMMA__/g, '.');
    }
</script>