{% extends "layout.html" %}
{% block pagetitle %}
Tambah Data Obat - {{ App.params.site_name }}
{% endblock %}

{% block content %}
<div id="main_wrapper">
    <div class="page_bar clearfix">
        <div class="row">
            <div class="col-sm-10">
                <h1 class="page_title">Tambah Data Obat</h1>
                <p class="text-muted">Halaman penambahan data obat</p>
            </div>
            <div class="col-sm-2 text-right">
                <a class="btn btn-default" href="{{ 'pos/products/view-items' | link }}">Daftar Harga Obat</a>
            </div>
        </div>
    </div>
    <div class="page_content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <ul class="nav nav-tabs" id="tabs_a">
                                <li class="active">
                                    <a data-toggle="tab" href="#create">Input Manual Per Item</a>
                                </li>
                                <li {% if hide_outlet %}class="hidden"{% endif %}>
                                    <a data-toggle="tab" href="#excel">Input Masal Dari Excel</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="tabs_content_a">
                                <div id="create" class="tab-pane fade in active">
                                    {% include 'products/_form.html' with {'model':model, 'hide_outlet':0} %}
                                </div>
                                <div id="excel" class="tab-pane fade">
                                    {% include 'products/_import.html' with {'outlets':outlets} %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'partial/right_menu.html' %}
{% endblock %}
{% block endbodyjs %}
<script type="text/javascript">
    $(function () {
        if (window.location.hash) {
            var hash = window.location.hash.substring(1);
            if ($('a[href="#'+hash+'"]').length > 0)
                $('a[href="#'+hash+'"]').click();
        }
    });
</script>
{% endblock %}
