{% extends "layout.html" %}
{% block pagetitle %}
Kelola Produk - {{ model.name }} - {{ App.params.site_name }}
{% endblock %}

{% block content %}
<div id="main_wrapper">
    <div class="page_bar clearfix">
        <div class="row">
            <div class="col-sm-7">
                <h1 class="page_title">Kelola Produk {{ model.name }} di <b class="text-info">{{ outlet.title }}</b></h1>
                <p class="text-muted">Halaman pengelolaan data produk {{ model.name | lower }}</p>
            </div>
            <div class="col-sm-5 text-right">
                <div class="row">
                    <div class="col-sm-8">
                        <select id="outlet_from" name="PriceLists[outlet_id]" class="form-control select2" onchange="selectOutlet(this)">
                            <option value="0">- Pilih Outlet -</option>
                            {% for i, wh in outlets %}
                            <option value="{{ wh.id }}" {% if outlet and outlet.id == wh.id %}selected="selected"{% endif %}>{{ wh.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <a class="btn btn-default" href="{{ 'pos/products/view' | link }}">Daftar Produk</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page_content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <ul class="nav nav-tabs" id="tabs_a">
                                <li class="active">
                                    <a data-toggle="tab" href="#update">Informasi Dasar</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#persediaan">Persediaan</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="tabs_content_a">
                                <div id="update" class="tab-pane fade in active">
                                    {% include 'products/_form.html' with {'model':model} %}
                                </div>
                                <div id="persediaan" class="tab-pane fade">
                                    {% include 'products/_stock.html' with {'model':model, 'smodel':smodel} %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'partial/right_menu.html' %}
{% endblock %}
{% block endbodyjs %}
<script type="text/javascript">
    $(function () {
        if (window.location.hash) {
            var hash = window.location.hash.substring(1);
            if ($('a[href="#'+hash+'"]').length > 0)
                $('a[href="#'+hash+'"]').click();
        }
    });
    function selectOutlet(dt) {
        var loc = window.location;
        var currentURL = loc.protocol + '//' + loc.host + loc.pathname;
        if ($(dt).val() && parseInt($(dt).val()) > 0) {
            window.location.href = currentURL +'?outlet='+$(dt).val();
        }
        return false;
    }
</script>
{% endblock %}
