{% extends "layout.html" %}
{% block pagetitle %}
Produk - {{ App.params.site_name }}
{% endblock %}

{% block content %}
<!-- main content -->
<div id="main_wrapper">
    <div class="page_bar clearfix">
        <div class="row">
            <div class="col-sm-10">
                <h1 class="page_title">Produk</h1>
                <p class="text-muted">Kelola data produk</p>
            </div>
            <div class="col-sm-2 text-right">
                <a class="btn btn-default" data-toggle="tab" href="#create-new">Buat Produk Baru</a>
            </div>
        </div>
    </div>
    <div class="page_content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <ul class="nav nav-tabs" id="tabs_a">
                                {% set idx = 1 %}
                                {% for i, outlet in outlets %}
                                <li {% if i == 1 %}class="active"{% endif %}>
                                    <a data-toggle="tab" href="#outlet-{{ idx }}" outlet-id="{{ outlet.id }}">{{ outlet.title }}</a>
                                </li>
                                {% set idx = idx + 1 %}
                                {% endfor %}
                            </ul>
                            <div class="tab-content" id="tabs_content_a">
                                <div id="outlet-1" class="tab-pane fade in active">
                                    <div id="dt_basic_wrapper" class="dataTables_wrapper form-inline no-footer table-responsive mt20" role="grid">
                                        <table id="dt_basic" class="table table-striped dataTable">
                                            <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Barcode</th>
                                                <th>Item Name</th>
                                                <th>Cost Price</th>
                                                <th>Unit Price</th>
                                                <th width="50px">&nbsp;</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for i, item in product_items %}
                                            <tr>
                                                <td><center>{{ item.item_id }}</center></td>
                                                <td>{{ item.item_number }}</td>
                                                <td>{{ item.name }}</td>
                                                <td style="text-align: right;">{{ item.cost_price | number_format(2, ',', '.') }}</td>
                                                <td style="text-align: right;">{{ item.unit_price | number_format(2, ',', '.') }}</td>
                                                <td class="text-center">
                                                    <a href="{{ 'pos/products/update' | link }}/{{ item.item_id }}?outlet={{ model.id }}" title="Ubah Outlet">
                                                        <i class="fa fa-pencil"></i>
                                                    </a>
                                                    <a href="{{ 'pos/products/delete' | link }}/{{ item.item_id }}?outlet={{ model.id }}" onclick="return hapus(this);">
                                                        <i class="fa fa-trash-o"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            {% else %}
                                            <tr class="no-data">
                                                <td>No data founds</td>
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                {% set idx2 = 2 %}
                                {% for j, outlet in outlets %}
                                <div id="outlet-{{ idx2 }}" class="tab-pane fade">
                                </div>
                                {% set idx2 = idx2 + 1 %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'partial/right_menu.html' %}
{% endblock %}
{% block endbodyjs %}
<script src="{{ 'lib/DataTables/media/js/jquery.dataTables.min.js' | admin_asset_url }}"></script>
<script src="{{ 'lib/DataTables/media/js/dataTables.bootstrap.js' | admin_asset_url }}"></script>
<script type="text/javascript">
    function hapus(data) {
        if (confirm('Anda yakin ingin menghapus item ini ?')) {
            var $this =  $(data);
            var url = $this.attr('href');
            $.ajax({
                'url': url,
                'type':'post',
                //'dataType': 'json',
                'success': function(data) {
                    if (data.status == 'success') {
                        $this.parent().parent().remove();
                    }
                }
            });
        }
        return false;
    }
    $(function () {
       if (window.location.hash) {
           var hash = window.location.hash.substring(1);
           if ($('a[href="#'+hash+'"]').length > 0)
                $('a[href="#'+hash+'"]').click();
       }
       $('a[data-toggle="tab"]').click(function () {
           var href = $(this).attr('href');
           var id = $(this).attr('outlet-id');
           if ($(href).find('tr.no-data').length > 0 || $(href).find('table').length <= 0) {
               $.ajax({
                   'beforeSend': function() { $(href).html('<span class="ion-loading-a mt-3"></span>'); },
                   'complete': function() { $(href).find('ion-loading-a').remove(); },
                   'url': "{{ 'pos/products/price-info' | link }}/"+ id,
                   'type':'post',
                   'data' : {'id':id},
                   'success': function(data) {
                       $(href).html(data);
                       $(href).find('.dataTable').dataTable();
                   }
               });
           }
       });
    });
</script>
{% endblock %}
